SFTP_HOST=
SFTP_PORT=22
SFTP_USERNAME=sftp_user

SFTP_REMOTE_DIR=upload
SFTP_LOCAL_DIR=./testing-ground
SFTP_STATE_STORE_DIR=./testing-state
SFTP_POLL_INTERVAL_SECONDS=10
SFTP_WALK_MAX_DEPTH=3
SFTP_EXCLUDE_DIRS=archive,processed,failed

# config | cyberark_ccp
SFTP_CREDENTIAL_SOURCE=config

# If Config Credential Provider is used
SFTP_PASSWORD=

# If CyberArk Credential Provider is used
SFTP_CYBERARK_CCP_BASE_URL=https://cyberark.example.com
SFTP_CYBERARK_CCP_APP_ID=my-app-id
SFTP_CYBERARK_CCP_SAFE=SFTP-SAFE
SFTP_CYBERARK_CCP_OBJECT_NAME=sftp-password-object
SFTP_CYBERARK_CCP_TIMEOUT_SECONDS=10
SFTP_CYBERARK_CCP_VERIFY_TLS=true

AAP_BASE_URL=https://awx-awx.apps.lab
AAP_JOB_TEMPLATE_ID=11
AAP_TIMEOUT_SECONDS=30
AAP_VERIFY_TLS=false
# AAP_CA_BUNDLE_PATH=/etc/certs/company-ca-bundle.pem

# config | cyberark_ccp
AAP_CREDENTIAL_SOURCE=config

# If Config Credential Provider is used
AAP_TOKEN=

# If CyberArk Credential Provider is used
AAP_CYBERARK_CCP_BASE_URL=https://cyberark.example.com
AAP_CYBERARK_CCP_APP_ID=my-app-id
AAP_CYBERARK_CCP_SAFE=SFTP-SAFE
AAP_CYBERARK_CCP_OBJECT_NAME=sftp-password-object
AAP_CYBERARK_CCP_TIMEOUT_SECONDS=10
AAP_CYBERARK_CCP_VERIFY_TLS=true

# Local Directory clean up Configuration
CLEANUP_LOCAL_FILES_ENABLED=true
LOCAL_FILE_RETENTION_DAYS=30
CLEANUP_INTERVAL_SECONDS=3600

# OpenTelemetry
SFTP_WATCHER_TELEMETRY_ENABLED=true
SFTP_WATCHER_TELEMETRY_VERIFY_TLS=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Api-Token <dynatrace-token>

# File Logging
SFTP_WATCHER_LOG_FILE=./sftp-watcher.log
