SFTP_HOST=
SFTP_PORT=22
SFTP_USERNAME=sftp_user

SFTP_REMOTE_DIR=upload
SFTP_LOCAL_DIR=./testing-ground
SFTP_POLL_INTERVAL_SECONDS=10
SFTP_WALK_MAX_DEPTH=3
SFTP_EXCLUDE_DIRS=archive,processed,failed

SFTP_CREDENTIAL_SOURCE=config # config | cyberark_ccp

# If Config Credential Provider is used
SFTP_PASSWORD=

# If CyberArk Credential Provider is used
SFTP_CYBERARK_CCP_BASE_URL=https://cyberark.example.com
SFTP_CYBERARK_CCP_APP_ID=my-app-id
SFTP_CYBERARK_CCP_SAFE=SFTP-SAFE
SFTP_CYBERARK_CCP_OBJECT_NAME=sftp-password-object
SFTP_CYBERARK_CCP_TIMEOUT_SECONDS=10
SFTP_CYBERARK_CCP_VERIFY_TLS=true

AAP_BASE_URL=https://awx-awx.apps.lab
AAP_TOKEN=
AAP_JOB_TEMPLATE_ID=9
AAP_TIMEOUT_SECONDS=30
AAP_VERIFY_TLS=false
# AAP_CA_BUNDLE_PATH=/etc/certs/company-ca-bundle.pem

# If Config Credential Provider is used
AAP_CREDENTIAL_SOURCE=config # config | cyberark_ccp

# If CyberArk Credential Provider is used
AAP_CYBERARK_CCP_BASE_URL=https://cyberark.example.com
AAP_CYBERARK_CCP_APP_ID=my-app-id
AAP_CYBERARK_CCP_SAFE=SFTP-SAFE
AAP_CYBERARK_CCP_OBJECT_NAME=sftp-password-object
AAP_CYBERARK_CCP_TIMEOUT_SECONDS=10
AAP_CYBERARK_CCP_VERIFY_TLS=true
